* {box-sizing:border-box}
html, body {height:100%;margin:0;padding:0}

.family-tree-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.column-graph {
  position: relative;
  width: 100%;
  background-color: goldenrod;
  overflow: auto;
}

.column-graph-child {
  position: absolute;
  height: 400px;
  top: 200px;
  left: 200px;
  border: 3px solid white;
  white-space: nowrap;
}

.column-info {
  background-color: firebrick;
  width: 150px;
}
